<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   

    <title>SaaS Project'19</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

  </head>
<center>
  <body>
   <div class="container">
     <main role="main" class="inner cover">
	<div class="page-header">
        <h1 class="cover-heading">Saas Project'19</h1></div>
        <p class="lead">Project Team: Shamikasmruthi S , E.S.S Ruthvika<br>
 We have developed a contact form and a blog. Go ahead and explore!</p><br>
        <a href="http://mycontactform.herokuapp.com/">Contact Form</a><br><br>
	<a><%= link_to 'My Blog', controller: 'articles' %></a>
      </main>

     
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/   GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
   </div>
  </body>
</html>

