// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-left: 50px;
  
}

a:link, a:visited {
  background-color: #000033;
  color: white;
  padding: 14px 25px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

a:hover, a:active {
  background-color: #000066;
}

