// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image:url('https://ak5.picdn.net/shutterstock/videos/1021538155/thumb/11.jpg');
  padding-left: 50px;
  
}

a:link, a:visited {
  background-color: #000033;
  color: white;
  padding: 14px 25px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #000066;
}

